.first-block-content {
    padding: 0 50px 35px 50px;
}

.nav-link.active {
    background-color: #76c38f;
    border-radius: 10px;
}

.d-initial {
    display: initial;
}

.wrap-circle {
    padding: 0 50px 0 0;
    margin-bottom: 15px;
}

@media (min-width: 1999px) {

    .wrap-circle {
        padding: 0 14px;
    }
}

@media (max-width: 991px) {
    .wrap-circle {
        padding: 0 15px 0 0;
    }

    .slick-slider-slides {
        max-width: 38%;
    }
}

@media (max-width: 767px) {

    .first-block-content {
        padding: 0 50px 20px 50px;
    }

    .left {
        text-align: center;
    }

    .wrap-circle {
        padding: 0 25px;
        min-height: 390px;
        margin-bottom: 10px;
    }
    .slick-slider-slides {
        max-width: 100%;
    }

}

@media (max-width: 575px) {
    .first-block-content {
        padding: 0 10px 15px 10px;
    }

    .wrap-circle {
        min-height: 290px;
    }

    .circle {
        max-width: 290px;
    }
}