.nav-pills .nav-link.active {
    background-color: #76c38f;
    border-radius: 10px;
}

.nav-pills .nav-link {
    transition: .2s;
}

.nav-link:hover {
    background-color: #76c38f;
    border-radius: 10px;
    color: #fff;
    transition: .2s;
}

.burger-menu:focus {
    outline: #290000;
}

.material-icons {
    color: #fff;
    font-size: 35px;
    border: 2px solid #fff;
    border-radius: 10px;
}

.slider-img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

@media (min-width: 992px) {
    .navbar-collapse {
        flex-grow: 0;
        flex-basis: auto;
    }
}

@media (min-width: 769px) {
    .collapse:not(.show) {
        display: flex;
    }
}

@media (max-width: 991px) {
    .collapse:not(.show) {
        display: none;
    }

    .navbar.mb-30-px {
        margin-bottom: 0;
    }

    .nav-pills {
        width: 100%;
    }

    .nav-pills {
        text-align: center;
    }

    .nav-pills li {
        width: 100%;
    }
}

