.latest-work-title {
    padding: 0 10px;
    border-radius: 10px;
    z-index: 1;
}

.latest-work-line {
    top: 20px;
}

.lt-work-card {
    overflow: hidden;
    transition: 1s;
    cursor: pointer;
}

.lt-work-card-text {
    text-align: center;
    opacity: 1;
    transition: 1s;
}

.lt-work-card:hover {
    border-color: #76c38f;
    transition: 1s;
}

.lt-work-card:hover .lt-work-card-text {
    opacity: 0;
    transition: 1s;
    transform: translateY(20px);
}

.animation {
    perspective: 1000px;
}

.f-block-img-front, .f-block-img-back {
    display: flex;
    height: 100%;
    width: 100%;
    position: absolute;
    background: url("../img/1369460669_panda-5.jpg") 100% 100% no-repeat;
    background-size: cover;
    top: 0;
    left: 0;
    backface-visibility: hidden;
    transition: 1s;
}

.f-block-img-back {
    transform: rotateY(180deg) scale(0.3);
}

.animation:hover .f-block-img-front {
    transform: rotateY(180deg) scale(0.3);
    transition: 1s;
}

.animation:hover .f-block-img-back {
    transform: rotateY(360deg);
    transition: 1s;
}
