a:hover {
    color: #76c38f;
    text-decoration: none;
}

.form-group {
    margin-bottom: 10px;
}

.form-control-sm {
    border-radius: 10px;
    background-color: #222222;
    border-color: #222222;
    resize: none;
}

.btn {
    font-weight: 700;
    background-color: #76c38f;
    border-color: #76c38f;
    border-radius: 10px;
}

.btn-success:hover {
    background-color: #76c38f;
    border-color: #76c38f;
    color: #fff;
    transition: 0.2s;
}