.main-content-wrap {
    padding: 35px 0 5px 0;
}

.services-card {
    padding: 20px 30px;
    cursor: pointer;
}

.services-card:hover {
    background-color: #76c38f;
    color: #fff;
    transition: 0.2s;
}

.services-card:hover .bg-black {
    background-color: #fff;
    transition: 0.2s;

}

@media (max-width: 768px) {
    .main-content-wrap {
        padding: 20px 0 5px 0;
    }
}