.height-5-px {
    height: 5px;
}

.height-3-px {
    height: 3px;
}

.height-1-px {
    height: 1px;
}

.min-h-120-px {
    min-height: 120px;
}

.min-height-220-px {
    min-height: 220px;
}

.min-h-295-px {
    min-height: 295px;
}

.min-h-420-px {
    min-height: 420px;
}

.min-w-120px {
    min-width: 120px;
}

.max-w-470-px {
    max-width: 470px;
}

.pt-20-px {
    padding-top: 20px;
}

.pt-30-px {
    padding-top: 30px;
}

.pt-35-px {
    padding-top: 35px;
}

.pl-70-px {
    padding-left: 70px;
}

.pr-150-px {
    padding-right: 150px;
}

.mb-30-px {
    margin-bottom: 30px;
}

.top-m1 {
    top: -1px;
}

.font-size-10-px {
    font-size: 10px;
}

.font-size-11-px {
    font-size: 11px;
}

.font-size-12-px {
    font-size: 12px;
}

.font-size-13-px {
    font-size: 13px;
}

.font-size-16-px {
    font-size: 16px;
}

.font-size-28-px {
    font-size: 28px;
}

.font-size-32-px {
    font-size: 32px;
}

.font-size-46-px {
    font-size: 46px;
}

.font-weight-100 {
    font-weight: 100;
}

.line-height-30-px {
    line-height: 30px;
}

.line-height-50-px {
    line-height: 50px;
}

.color-grey {
    color: #979797;
}

.color-light-grey {
    color: #666666;
}

.color-white {
    color: #fff;
}

.color-green {
    color: #76c38f;
}

.color-black {
    color: #303030;
}

.list-style-type-none {
    list-style-type: none;
}

.bg-brown {
    background-color: #290000;
}

.bg-color-green {
    background-color: #76c38f;
}

.bg-black {
    background-color: #151515;
}

.bg-black-dark {
    background-color: #2b2b2b;
}

.bg-light-black {
    background-color: #353535;
}

.bg-red {
    background-color: #660000;
}

.bg-grey {
    background-color: #666666;
}

.bg-white {
    background-color: #fff;
}

.border-20-px {
    border: 20px solid #6b6b6b;
}

.b-radius-50 {
    border-radius: 50%;
}

.border-white-5-px {
    border: 5px solid #fff;
}

@media (max-width: 1199px) {

    .pl-70-px {
        padding-left: 25px;
    }

    .pr-150-px {
        padding-right: 100px;
    }
}

@media (max-width: 991px) {

    .pr-150-px {
        padding-right: 20px;
    }

    .pl-50-px {
        padding-left: 20px;
    }

    .font-size-46-px {
        font-size: 38px;
    }

    .min-h-420-px {
        min-height: 310px;
    }
}

@media (max-width: 768px) {

    .col-lg-3.mb-30-px {
        margin-bottom: 20px;
    }

    .col-12.mb-30-px {
        margin-bottom: 20px;
    }

    .font-size-16-px.mb-30-px {
        margin-bottom: 10px;
    }

    .pt-35-px {
        padding-top: 20px;
    }

    .pt-30-px {
        padding-top: 20px;
    }

    .mb-30-px {
        margin-bottom: 0;
    }
}

@media (max-width: 575px) {

    .pr-150-px {
        padding-right: 20px;
    }

    .pl-70-px {
        padding-left: 20px;
    }

    .max-w-470-px {
        max-width: none;
    }

}
